.wave{
    position:relative;
    margin:0px -15px;
    width: 98.7vw;
    height: 111px;
    z-index:0;
    background-image: url("C:/Users/Saad'sLaptop/Desktop/Cs Projects/Website/SJT00.github.io/assets/Wave.png");
    animation: waveanim 10s linear infinite;
}

.wave:before{
    content: '';
    margin:0px -15px;
    width: 98.7vw;
    height:111px;
    background-image: url("C:/Users/Saad'sLaptop/Desktop/Cs Projects/Website/SJT00.github.io/assets/Wave.png");
    opacity: 0.5;
}
@keyframes waveanim{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }
}
